.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: scroll;
}
.Home > div:first-child {
  flex-grow: 1;
}
.Home > .nav {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.Home .nav ul {
  display: flex;
  background-color: #111;
  justify-content: space-around;
}
.Home .nav li {
  padding: 0 10px;
}
.Home .nav li span {
  display: block;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}
.Home .nav li a {
  font-size: 12px;
  color: aliceblue;
  display: block;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  user-select: none;
}
.Home .nav .active {
  color: rgba(201, 13, 13, 0.938);
}
