.top-container {
  width: 100vw;
}
.top-container .top-wrapper {
  display: flex;
  width: 200vw;
  position: relative;
}
.Top {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background-color: #f0f0f0;
}
.Top > div:first-child {
  flex-grow: 1;
  text-align: center;
}
.Top > div:first-child img {
  width: 70px;
}
.Top > div:last-child {
  flex-shrink: 0;
}
.Top > div:last-child span {
  font-size: 20px;
}
.top-container .search {
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: 18;
  height: 100vh;
  width: 100vw;
  transition: all 1s;
  padding: 20px;
}
.top-container .search > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.top-container .search img {
  width: 100%;
}
