.Issue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0;
  height: 100%;
}
.Issue > div:first-child,
.Issue > div:last-child {
  flex-shrink: 0;
  padding: 5px 0;
}
.Issue > div:nth-child(2) {
  flex-grow: 1;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
.Issue span {
  font-size: 24px;
  color: red;
}
.Issue > div:first-child {
  display: flex;
}
.Issue > div:first-child > span:first-child {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}
.Issue > div:first-child > span:last-child {
  flex-shrink: 0;
}
.Issue > div:last-child > span {
  margin-right: 30px;
}
.Issue > div:last-child > span > span {
  color: black;
  font-size: 16px;
}
.Issue > div:nth-child(2) {
  position: relative;
}
.Issue > div:nth-child(2) textarea {
  display: block;
  border: none;
  padding: 10px;
  width: 100%;
  height: 80vh;
  outline: none;
  background-image: url("https://dev.tencent.com/u/shiyunhao/p/tupian/git/raw/master/publish_03.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.Issue > div:nth-child(2) > div {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.Issue > div:nth-child(2) > div > div {
  background-color: rgb(237, 237, 237);
  text-align: center;
  padding: 50px 0;
}
.Issue > div:nth-child(2) > div > div span {
  display: block;
}
.Issue > div:nth-child(2) > div > div span:last-child {
  font-size: 14px;
}
