.ArticleDetails-main {
  width: 100vw;
  overflow: hidden;
}
.ArticleDetails-wrapper {
  width: 200vw;
  position: relative;
}
.ArticleDetails {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 6vh;
}
.ArticleDetails-main .goBack {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
}
.ArticleDetails .artivleDetail-footer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: rgba(219, 218, 218, 0.884);
}
.ArticleDetails img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.ArticleDetails span,
.ArticleDetails p {
  font-size: 12px;
  margin: 0;
}
.ArticleDetails p {
  padding: 0 10px;
  color: rgba(34, 34, 34, 0.808);
  margin: 5px 0;
}
.ArticleDetails > div:nth-child(2) img {
  margin-bottom: 0;
}
.ArticleDetails .showTitle span {
  background-color: #d24436;
  color: #ffffffd1;
  padding: 3px 0;
  border-radius: 0 10px 10px 0;
  display: block;
  width: 80px;
  text-align: center;
}
.ArticleDetails .imgs > div:last-child img {
  margin-bottom: 0;
}
.ArticleDetails .recomment > div:first-child span {
  background-color: #d24436;
  color: #ffffffd1;
  padding: 3px 0;
  border-radius: 0 10px 10px 0;
  display: block;
  width: 80px;
  text-align: center;
}
.ArticleDetails .recomment ul {
  background-color: #dcdcdc;
}
.ArticleDetails .recomment li {
  display: flex;
  padding: 10px 15px;
}
.ArticleDetails .recomment li + li {
  border-top: 1px solid rgb(235, 231, 231);
}
.ArticleDetails .recomment li span {
  display: block;
}
.ArticleDetails .recomment li > div:first-child {
  width: 40px;
}
.ArticleDetails .recomment li > div:last-child {
  padding: 0 10px;
}
.ArticleDetails .recomment li > div:last-child span:last-child {
  padding: 5px 0;
  color: rgb(94, 93, 93);
}
.ArticleDetails .recomment li > div:last-child span:nth-child(2) {
  color: rgba(34, 33, 33, 0.726);
}
.ArticleDetails .recomment li img {
  border-radius: 50%;
}
.ArticleDetails .moreRecomment p {
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
}
.ArticleDetails .icon-xin {
  color: red;
}
.ArticleDetails .icon-xin > span {
  color: #dcdcdc;
}
.ArticleDetails_map {
  width: 100vw;
  position: absolute;
  top: 0;
  transition: all 1s;
  z-index: 12;
  background-image: url("https://dev.tencent.com/u/shiyunhao/p/tupian/git/raw/master/ditu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.ArticleDetails_map span {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 13;
  font-size: 14px;
  color: #fff;
  font-size: 18px;
}
.ArticleDetails_map img {
  display: block;
  width: 100%;
}
.ArticleDetails-main .dark {
  background-color: rgba(49, 47, 47, 0.753);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.ArticleDetails-main .shareWay {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #fff;
  padding: 0 20px;
  text-align: center;
  transition: all 1s;
  z-index: 11;
}
.ArticleDetails-main .shareWay img {
  display: block;
  border-radius: 50%;
  width: 1.5rem;
  margin: 0 auto;
}
.ArticleDetails-main .shareWay > div {
  display: flex;
  justify-content: space-between;
}
.ArticleDetails-main .shareWay > div > div {
  width: 25%;
}
.ArticleDetails-main .shareWay span {
  font-size: 14px;
  color: #d52315;
}
.ArticleDetails-main .shareWay > div > div > span:first-child {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d52315;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
  margin: 0 auto;
  font-size: 38px;
}
.ArticleDetails-main .shareWay p {
  font-size: 16px;
}
.ArticleDetails-main .shareWay > p:last-child {
  border-top: 1px solid #d52315;
  padding: 5px 0;
}
.ArticleDetails-main .addComment {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 15;
  transition: all 1s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ArticleDetails-main .addComment span {
  color: #c5483e;
  font-size: 16px;
}
.ArticleDetails-main .addComment > div {
  margin-bottom: 15px;
  flex-shrink: 0;
}
.ArticleDetails-main .addComment > div:first-child {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c5483e;
  padding: 10px;
  align-items: center;
}
.ArticleDetails-main .addComment > div:first-child > span:first-child {
  color: #000;
}
.ArticleDetails-main .addComment > div:nth-child(2) {
  flex-grow: 1;
}
.ArticleDetails-main .addComment > div:nth-child(2) textarea {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  height: 80vh;
  background-image: url("https://dev.tencent.com/u/shiyunhao/p/tupian/git/raw/master/publish_03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ArticleDetails-main .addComment > div:last-child {
  display: flex;
}
.ArticleDetails-main .addComment > div:last-child span {
  margin-right: 10px;
}

.noMessage {
  background-color: #fff;
}
