.Recommend .recommend-container {
  overflow: hidden;
}
.Recommend .recommend-wrapper {
  width: 200vw;
  display: flex;
  transition: all 1s;
}
.Recommend .recommend-zhan,
.Recommend .recommend-wen {
  width: 100vw;
  height: 90vh;
  overflow-y: auto;
  padding-bottom: 7vh;
}
.Recommend .recommend-zhan > div:first-child,
.Recommend .recommend-wen > div:first-child {
  display: flex;
  font-size: 14px;
  background-color: #ccc;
}
.Recommend .recommend-zhan > div:first-child span,
.Recommend .recommend-wen > div:first-child span {
  width: 50%;
  padding: 5px 15px;
}
.Recommend .recommend-zhan > div:first-child span:first-child {
  text-align: right;
  background: linear-gradient(to right, rgb(236, 154, 154), red);
  border-radius: 0 10px 10px 0;
  color: #fff;
}
.Recommend .recommend-wen > div:first-child span:first-child {
  text-align: right;
}
.Recommend .recommend-wen > div:first-child span:last-child {
  background: linear-gradient(to left, rgb(236, 154, 154), red);
  border-radius: 10px 0 0 10px;
  color: #fff;
}
